<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.springframework.org/security/tags">
<head>
<title>Komis Samochodowy</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">Komis</a>
			</div>
			<div class="nav navbar-nav navbar-left">
				<a th:href="@{/logout}"><button type="button" class="btn btn-danger navbar-btn">Wyloguj</button></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">


					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Panel Klienta<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/add-car/1}">Wystaw pojazd na sprzedaż</a></li>
							<li><a th:href="@{/add-car/2}">Sprzedaj pojazd</a></li>
							<li><a th:href="@{/show-cars/1}">Pokaż pojazdy wystawione przez klientów komisu</a></li>
							<li><a th:href="@{/show-cars/2}">Pokaż pojazdy wystawione przez komis</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="@{/}">Moje pojazdy</a></li>
						</ul></li>
						
						
						
						




					<li class="dropdown" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Panel Administracyjny<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/}">Dodaj klienta</a></li>
							<li><a th:href="@{/add-car/3}">Dodaj pojazd</a></li>
							<li><a th:href="@{/show-all-cars-to-sell}">Pokaż wszystkie sprzedawane pojazdy</a></li>
							<li><a th:href="@{/show-cars/3}">Pokaż sprzedane pojazdy</a></li>
							<li><a th:href="@{/show-cars/4}">Zatwierdz pojazdy do sprzedaży</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
						
				</ul>
			
				
				
				
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Szukaj" />
					</div>
					<button type="submit" class="btn btn-primary">Szukaj</button>
				</form>
				<div class="nav navbar-nav navbar-right">
					<a th:href="@{/login}" ><button type="button" class="btn btn-primary navbar-btn">Zaloguj</button></a>
					<a th:href="@{/registration}"><button type="button" class="btn btn-primary navbar-btn">Rejestracja</button></a>

				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</nav>

	
	<h1 layout:fragment="header"></h1>
	<div layout:fragment="content"></div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
</body>
</html>
