<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home">
<head>
<title>Komis Samochodowy</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header" id="persons-header">Podaj swoje dane</h1>
	<div layout:fragment="content" class="container">
		<form id="carForm" th:action="@{/add-customer}"
			th:object="${customerDto}" method="post">

			<div class="form-group">
				<h3>
					<span class="label label-default">Imię</span>
				</h3>
				<input type="text" class="form-control" th:field="*{name}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Nazwisko</span>
				</h3>
				<input type="text" class="form-control" th:field="*{surname}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Adres</span>
				</h3>
				<input type="text" class="form-control" th:field="*{address}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Pesel</span>
				</h3>
				<input type="text" class="form-control" th:field="*{pesel}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Nip</span>
				</h3>
				<input type="text" class="form-control" th:field="*{nip}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Numer kontaktowy</span>
				</h3>
				<input type="text" class="form-control"
					th:field="*{telephoneNumber}" />
			</div>



			<div class="form-group navbar-right">
				<button type="submit" class="btn btn-primary" value="Zapisz">Dodaj</button>
			</div>
			
			</form>
	</div>
	


	

	<script
		th:src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>