<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home">
<head>
<title>Komis Samochodowy</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header" id="persons-header">Dodaj pojazd</h1>
	<div layout:fragment="content" class="container">
		<form id="carForm" th:action="@{/add-car}" th:object="${carDto}"
			method="post">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{form.hasErrors}">test error</p>
        </div>
        
        
      <!--   <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
            <label class="col-sm-2 control-label">Imię: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                    </ul>
                </span>
            </div>
        </div>
        
        --> 
        
        
        

			<div class="form-group" th:class="${#fields.hasErrors('vin')} ? 'form-group has-error' : 'form-group'">
				<h3>
					<span class="label label-default">Numer VIN</span>
				</h3>
				<input type="text" class="form-control" th:field="*{vin}" th:errorclass="has-error"/>
				 <span class="help-block">
                    <ul>
                        <li th:each="err : ${#fields.errors('vin')}" th:text="${err}" />
                    </ul>
                </span>
			</div>
			
			
			
			<div class="form-group">
				<h3>
					<span class="label label-default">Rok produkcji</span>
				</h3>
				<input type="text" class="form-control"
					th:field="*{yearOfProduction}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Marka</span>
				</h3>
				<input type="text" class="form-control" th:field="*{brand}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Model</span>
				</h3>
				<input type="text" class="form-control" th:field="*{model}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Nr polisy OC</span>
				</h3>
				<input type="text" class="form-control"
					th:field="*{insurancePolicyNumber}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Numer rejestracyjny</span>
				</h3>
				<input type="text" class="form-control"
					th:field="*{registrationNumber}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Przebieg</span>
				</h3>
				<input type="text" class="form-control" th:field="*{mileage}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Pojemność skokowa silnika</span>
				</h3>
				<input type="text" class="form-control" th:field="*{ccm}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Moc</span>
				</h3>
				<input type="text" class="form-control" th:field="*{horsePower}" />
			</div>

			 <div class="form-group" th:if="${status} == 'employee'">

				<h3>
					<span class="label label-default">Ilość jazd próbnych</span>
				</h3>
				<input type="text" class="form-control"
					th:field="*{numberOfTestDrives}" />

			</div>

			<div class="form-group">
				<h3>
					<span class="label label-default">Wartość pojazdu</span>
				</h3>
				<input type="text" class="form-control" th:field="*{value}" />
			</div>
			<div class="form-group">
				<h3>
					<span class="label label-default">Opis pojazdu</span>
				</h3>
				<textarea class="form-control" rows="5" th:field="*{description}"></textarea>
			</div>
			<div class="input-group">
				<h3>
					<span class="label label-default">Rodzaj paliwa</span>
				</h3>
				<select th:field="*{typeOfFuel}" class="form-control">
					<option
						th:each="typeOfFuel : ${T(org.tymfry.entity.Car.TypeOfFuel).values()}"
						th:value="${typeOfFuel}" th:field="*{typeOfFuel}"
						th:text="${typeOfFuel.description}"></option>
				</select>
			</div>

			<div class="input-group">
				<h3>
					<span class="label label-default">Skrzynia biegów</span>
				</h3>
				<select th:field="*{gearbox}" class="form-control">
					<option
						th:each="gearbox : ${T(org.tymfry.entity.Car.Gearbox).values()}"
						th:value="${gearbox}" th:field="*{gearbox}"
						th:text="${gearbox.description}"></option>
				</select>
			</div>
			<div class="input-group">
				<h3>
					<span class="label label-default">Typ samochodu</span>
				</h3>
				<select th:field="*{typeOfVehicle}" class="form-control">
					<option
						th:each="typeOfVehicle : ${T(org.tymfry.entity.Car.TypeOfVehicle).values()}"
						th:value="${typeOfVehicle}" th:field="*{typeOfVehicle}"
						th:text="${typeOfVehicle.description}"></option>
				</select>
			</div>
			<div th:if="${status} == 'employee'">
				<h3>
					<span class="label label-default">Wybierz pochodzenie
						pojazdu</span>
				</h3>
				<div class="radio">
					<label><input type="radio" th:value="true"
						th:field="*{dealerCar}" name="" />Pojazd sprzedany komisowi</label>
				</div>
				<div class="radio">
					<label><input type="radio" th:value="false"
						th:field="*{dealerCar}" name="" />Pojazd wystawiony przez klienta</label>
				</div>
				<input type="button" id="summary" class="btn btn-primary"
					value="Dodaj użytkownika" />
				<div style="display: none;" id="customer">
				<input type="button" id="summaryhide" class="btn btn-primary"
					value="Ukryj formularz" />
					<div class="form-group">
						<h1 id="phead">Podaj dane właściciela pojazdu</h1>
						<h3>
							<span class="label label-default">Imię</span>
						</h3>
						<input type="text" class="form-control" th:field="*{name}" />
					</div>
					<div class="form-group">
						<h3>
							<span class="label label-default">Nazwisko</span>
						</h3>
						<input type="text" class="form-control" th:field="*{surname}" />
					</div>
					<div class="form-group">
						<h3>
							<span class="label label-default">Adres</span>
						</h3>
						<input type="text" class="form-control" th:field="*{address}" />
					</div>
					<div class="form-group">
						<h3>
							<span class="label label-default">Pesel</span>
						</h3>
						<input type="text" class="form-control" th:field="*{pesel}" />
					</div>
					<div class="form-group">
						<h3>
							<span class="label label-default">Nip</span>
						</h3>
						<input type="text" class="form-control" th:field="*{nip}" />
					</div>
					<div class="form-group">
						<h3>
							<span class="label label-default">Numer kontaktowy</span>
						</h3>
						<input type="text" class="form-control"
							th:field="*{telephoneNumber}" />
					</div>

				</div>
				<h3>
					<span class="label label-default">Zatwierdz pojazd do
						sprzedaży lub poczekalni</span>
				</h3>
				<div class="radio">
					<label><input type="radio" th:value="true"
						th:field="*{accepted}" name="" />Wystaw pojazd na sprzedaż</label>
				</div>
				<div class="radio">
					<label><input type="radio" th:value="false"
						th:field="*{accepted}" name="" />Wystaw pojazd do poczekalni</label>
				</div>
			</div>

			<div>
				<input type="hidden" th:value="${dealerCar}" name="dealerCar" />
			</div>

			<div>
				<input type="hidden" th:value="${accepted}" name="accepted" />
			</div>
			<div th:if="${status} == 'userCession' or 'userSell'">
				<input type="hidden" th:value="${numberOfTestDrives}"
					name="numberOfTestDrives" />
			</div>

			<div th:if="${status} == 'userCession'">
				<div class="form-group">
					<h1 id="phead">Podaj dane właściciela pojazdu</h1>
					<h3>
						<span class="label label-default">Imię</span>
					</h3>
					<input type="text" class="form-control" th:field="*{name}" />
				</div>
				<div class="form-group">
					<h3>
						<span class="label label-default">Nazwisko</span>
					</h3>
					<input type="text" class="form-control" th:field="*{surname}" />
				</div>
				<div class="form-group">
					<h3>
						<span class="label label-default">Adres</span>
					</h3>
					<input type="text" class="form-control" th:field="*{address}" />
				</div>
				<div class="form-group">
					<h3>
						<span class="label label-default">Pesel</span>
					</h3>
					<input type="text" class="form-control" th:field="*{pesel}" />
				</div>
				<div class="form-group">
					<h3>
						<span class="label label-default">Nip</span>
					</h3>
					<input type="text" class="form-control" th:field="*{nip}" />
				</div>
				<div class="form-group">
					<h3>
						<span class="label label-default">Numer kontaktowy</span>
					</h3>
					<input type="text" class="form-control"
						th:field="*{telephoneNumber}" />
				</div>
			</div>

			<div class="col-md-30">
				<button type="submit" class="btn btn-primary navbar-right submit"
					value="Zapisz">Dodaj pojazd</button>
			</div>


			

		</form>
	</div>



	<script
		th:src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
</body>
</html>