<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home">
<head>
<title>Komis Samochodowy</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 layout:fragment="header" id="persons-header">Szczegóły pojazdu</h1>
	<div layout:fragment="content" class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Marka</th>
					<th>Model</th>
					<th>Rok produkcji</th>
					<th>Pojemność</th>
					<th>Moc</th>
					<th>Przebieg</th>
					<th>Skrzynia biegów</th>
					<th>Rodzaj paliwa</th>
					<th>Nadwozie</th>
				</tr>
			</thead>
			<tbody>
				<tr th:object="${carDto}">
					<td th:text="*{brand}"></td>
					<td th:text="*{model}"></td>
					<td th:text="*{yearOfProduction}"></td>
					<td th:text="*{ccm}"></td>
					<td th:text="*{horsePower}"></td>
					<td th:text="*{mileage}"></td>
					<td th:text="*{gearbox.description}"></td>
					<td th:text="*{typeOfFuel.description}"></td>
					<td th:text="*{typeOfVehicle.description}"></td>
				</tr>
			</tbody>
		</table>

		<div>
			<label>Opis pojazdu:</label>
			<div class="well well-lg">
				<span th:text="${carDto.description}"></span>
			</div>
		</div>
		<div th:if="${carDto.dealerCar}">
			<div class="alert alert-danger">
				<strong>Uwaga!</strong> Właścicielem pojazdu jest komis, wprowadz
				nową wartość pojazdu przed wystawieniem !
			</div>
		</div>
		<div th:unless="${carDto.dealerCar}">
			<div class="alert alert-danger">
				<strong>Uwaga!</strong> Właścicielem pojazdu jest osoba prywatna,
				uzgodnij cenę przed wystawieniem ! <span
					th:text="${carDto.telephoneNumber} + '.'"></span>
			</div>
		</div>


		<div th:unless="${secondStatus}">
			<a th:href="@{/show-cars/4}"><button type="button"
					class="btn btn-primary">Powrót do listy</button></a> <a
				th:href="@{/TODO}"> </a> <input type="button"
				class="btn btn-primary" id="showform" value="Wprowadz cenę sprzedaży" /> <a
				th:href="@{'/approve-car/' + ${carDto.id}}"><button
					type="button" class="btn btn-primary navbar-right">Zaakceptuj
					pojazd do sprzedaży</button></a>
		</div>

	</div>

	<div class="form-group" id="showvalue" style="display: none;">
		<h3>
			<span class="label label-default">Nowa wartość pojazdu</span>
		</h3>
		<input type="text" class="form-control" th:field="*{value}" />
	</div>

	<script
		th:src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/myscript.js}"></script>
</body>
</html>